<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wintree.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wintree.Settings>
            <setting name="TreeFile" serializeAs="String">
                <value>wintree.xml</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>wintree.log</value>
            </setting>
            <setting name="Editor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </wintree.Settings>
    </userSettings>
</configuration>